<div class="portal__header">
  <h1 class="ui header">
    <img src="/assets/marvel_logo.png">
    <div class="content">
      Marvel Comics
      <div class="sub header">by Suzane M.</div>
    </div>
  </h1>
</div>

<div class="portal__divider"></div>

<% if @error.present? %>
  <h1><i class="warning sign icon"></i><%= @error %> </h1>
<% else %>

  <div class="portal__container">
  
    <div class="portal__card">

      <div class="ui card">
        <div class="image">
          <img src="<%= @character.thumbnail %>">
        </div>
        <div class="content">
          <a class="header"><%= @character.name %></a>
          <div class="meta">
            <span class="date">ID <%= @character.id %></span>
          </div>
        </div>
      </div>

    </div>

    <div class="portal__card">
      <h4 class="ui header">Story</h4>
      <div class="ui card">
        <div class="content">
          <div class="header"><%= @story.title %></div>
          <div class="meta">ID <%= @story.id %></div>
          <div class="description"><%= @story.description %></div>
        </div>
      </div>
    </div>

    <div class="portal__card">
      <h4 class="ui header">Characters</h4>
      <div class="ui four cards">
        <% @story_characters.each do |character| %>
          <div class="ui card">
            <div class="image">
              <img src="<%= character.thumbnail %>">
            </div>
            <div class="content">
              <a class="header"><%= character.name %></a>
              <div class="meta">
                <span class="date">ID <%= character.id %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<div class="portal__divider"></div>
<div class="portal__footer"><h4><%= @story.attribution_text %></h4></div>
<% end %>