<h1>Marvel Comics</h1>
<h4><%= @story.attribution_text %></h3>

<h2>Character Name: <%= @character.name %></h2>
<% if @character.thumbnail %>
<%= image_tag(@character.thumbnail, size: "200x200") %>
<% end %>

<h2>Story</h2>
<h3>Id: <%= @story.id %></h3>
<h3>Title: <%= @story.title %></h3>
<h3>Description: <%= @story.description %></h3>
<% if @story.thumbnail %>
<%= image_tag(@story.thumbnail, size: "200x200") %>
<% end %>

<h2>Story Characters</h2>
<% @story_characters.each do |character| %>
  <h3><%= character.name %></h3>
  <% if character.thumbnail %>
    <%= image_tag(character.thumbnail, size: "100x100") %>
  <% end %>
<% end %>
